// --------------------------------------------------------------
// Badges
// --------------------------------------------------------------

.uiza__badge {
  background: $uiza-badge-bg;
  border-radius: 2px;
  color: $uiza-badge-color;
  font-size: $uiza-font-size-badge;
  line-height: 1;
  padding: 3px 4px;
}
