// --------------------------------------------------------------
// Volume
// --------------------------------------------------------------

.uiza__volume {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;

  input[type='range'] {
    margin-left: ($uiza-control-spacing / 2);
    position: relative;
    z-index: 2;
  }

  @media (min-width: $uiza-bp-sm) {
    max-width: 90px;
  }

  @media (min-width: $uiza-bp-md) {
    max-width: 110px;
  }
}

// Hide sound controls on iOS
// It's not supported to change volume using JavaScript:
// https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html
.uiza--is-ios .uiza__volume {
  flex: 0;
  input {
    display: none !important;
  }
}
