// ==========================================================================
// Captions
// ==========================================================================

$uiza-captions-bg: rgba(#000, 0.8) !default;
$uiza-captions-color: #fff !default;
$uiza-font-size-captions-base: $uiza-font-size-base !default;
$uiza-font-size-captions-small: $uiza-font-size-small !default;
$uiza-font-size-captions-medium: $uiza-font-size-large !default;
$uiza-font-size-captions-large: $uiza-font-size-xlarge !default;
