// ==========================================================================
// Progress
// ==========================================================================

// Loading
$uiza-progress-loading-size: 25px !default;
$uiza-progress-loading-bg: rgba($uiza-color-gray-9, 0.6) !default;

// Buffered
$uiza-video-progress-buffered-bg: rgba(#fff, 0.25) !default;
$uiza-audio-progress-buffered-bg: rgba($uiza-color-gray-2, 0.66) !default;
